body {
    font-family: 'Poppins', sans-serif;
}

footer {
    border-top: 1px solid #e4e4e4;
    margin-top: 150px;
    background-color: #5d9db9;
}

footer p {
    color: #979797;
}

p {
    font-size: 16px;
    color: #5d9db9
}

section {
    font-family: 'Poppins', sans-serif;
    color: #5d9db9
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Poppins', sans-serif;
    color: #5d9db9
}

p {
    font-family: 'Poppins', sans-serif;
}

li {
    font-family: 'Poppins', sans-serif;
    color: #5d9db9
}

h4 {
    text-align: center;
    color: #5d9db9
}

h2 {
    margin-top: 30px;
    text-align: center;
    color: #285062
}

.navbar {
    background-color: #5d9db9;
    color: white;
}

.nav-item {
    margin: 0 10px;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-link {
    position: relative;
    padding: 0;
    color: aliceblue;
}

.nav-link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    background-color: rgb(235, 214, 214);
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 650ms;
}

.nav-link:hover::before {
    transform: scaleX(1)
}

.page-content {
    margin-top: 100px;
}

.icon {
    width: 96px;
    height: 96px;
    margin: auto;
}

#logo {
    width: 64px;
    height: 64px;
}

.nav-text {
    color: white
}

.card-button {
    border-radius: 20%;
}

.footer-copyright {
    background-color: #5d9db9;
    color: white;
}